$rose-moon-000:#ebbcba;
$rose-moon-100:#ebbcba;
$rose-moon-200:#ebbcba;
$rose-moon-300:#ebbcba;

$gold-moon-000:#f6c177;
$gold-moon-100:#f6c177;
$gold-moon-200:#f6c177;
$gold-moon-300:#f6c177;

$love-moon-000:#eb6f92;
$love-moon-100:#eb6f92;
$love-moon-200:#eb6f92;
$love-moon-300:#eb6f92;


$foam-moon-000:#9ccfd8;
$foam-moon-100:#9ccfd8;
$foam-moon-200:#9ccfd8;
$foam-moon-300:#9ccfd8;


$pale-moon-000:#e0def4;
$pale-moon-100:#e0def4;
$pale-moon-200:#e0def4;
$pale-moon-300:#e0def4;
