
$love:#b4637a;
$gold:#ea9d34;
$rose:#d7827e;
$pine:#286983;
$foam:#56949f;
$iris:#907aa9;
$text:#575279;
$base:#faf4ed;
$surface:#fffaf3;
$overlay:#f2e9e1;
$muted:#9893a5;

$body-background-color: $base;
$body-heading-color: $love;
$body-text-color: $text;
$link-color: $iris;
$nav-child-link-color: $foam;
$sidebar-color: $overlay;
$base-button-color: $pine;
$btn-primary-color: $gold ;
$code-background-color: $muted ;
$table-background-color: $surface ;
$search-background-color: $surface;
$search-result-preview-color: $text;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $muted;
